# -------- IDE Files --------- #
.vscode/
.idea/


# --------- Build dirs -------- #

build/
install/
log/

# -------- Test script dirs -------- #
scripts/

# -------- Python stuff -------- 3
__pycache__/